@model RVBARBER.ViewModels.HomePageViewModel;

@{
    ViewData["Title"] = "Home";
}

@section Styles 
{
    <style>
        .header-container {
            height: 100vh;
            background-image: url('/images/home.jpeg');
        }

        @@media (max-width: 1024px) {
            .header-container {
                background-image: url('/images/home-mobile.jpeg');
            }

            svg {
                width: 20%;;
            }

            img#logo-completo {
                width: 150px;
            }
        }

        @@media (min-width: 1024px) {
            img#logo-completo {
                width: 200px;
            }
        }

        i.fa-solid, i.fa-regular, i.fa-brands {
            font-size: 2.5rem;
        }

        .container {
            .d-flex.align-items-center.justify-content-between {
                margin-top: 0.5rem;
            }
        }

        .container div.d-flex>p:nth-child(2) {
            color: #8D6D42;
            font-size: 120%;
            font-weight: 900;
            text-wrap: nowrap;
        }
    </style>
}

<div class="header-container">
    <div class="overlay"></div>

    <div class="title-box">
        <h1 class="mb-0">I TRUST NO ONE,</h1>
        <h1 class="mb-0">ONLY MY BARBER</h1>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <a class="btn btn-lg btn-outline-light mt-5" asp-controller="Reservations" asp-action="Index">
                Prenota ora
            </a>
        }
        else
        {
            <button class="btn btn-lg btn-outline-light mt-5" data-bs-toggle="modal" data-bs-target="#modal-login">
                Prenota ora
            </button>
        }
    </div>
</div>

<div class="container mt-5 px-4">

    <div class="card">
        <div class="row p-4 p-xl-0">
            <div class="col-12 col-xl-5">
                <img src="/images/gallery/gallery5.jpeg" class="img-fluid">
            </div>
            <div class="col-12 col-xl-7 px-xl-5">
                <h4 class="font-bold mt-4 mt-xl-0 text-accent">RV BARBER</h4>
                <h2 class="font-bold">Since 2023</h2>
                <div class="mt-4">
                    <p>Siamo un team appassionato di cura personale e stile maschile, con un'attenzione particolare alla qualità e al dettaglio. </p>
                    <p>Nasciamo dall'idea di creare un luogo in cui ogni cliente possa sentirsi valorizzato, ascoltato e a proprio agio, trasformando il momento della cura del look in un'esperienza piacevole e su misura.</p>
                    <p>Uniamo l'eleganza del classico alle tendenze contemporanee, con un tocco di creatività che rende ogni servizio unico. </p>
                    <p>Lavoriamo con competenza e dedizione per offrire tagli e trattamenti personalizzati, sempre in linea con le esigenze e lo stile di ogni cliente.</p>
                    <p>Offriamo un'esperienza di alta qualità, basata su professionalità, attenzione e passione per il mestiere. </p>
                    <p>Il nostro obiettivo è essere un punto di riferimento per chi desidera prendersi cura della propria immagine con stile e consapevolezza.</p>
                </div>
                <div class="text-center">
                    <img src="/images/logo_int.jpeg" style="opacity: 1;" class="mt-4" id="logo-completo">
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <h5 class="font-bold text-accent">OUR BARBERS</h5>
        <h2 class="font-bold">IL NOSTRO TEAM</h2>
    </div>

    <div class="row mt-5">
        <div class="card-group">
            <div class="card mb-4 mb-xl-0">
                <div class="card-body p-4 p-xl-0">
                    <img src="/images/riccardo2.jpeg" class="img-fluid">
                    <div class="my-4">
                        <h4 class="mb-4 font-bold">RICCARDO</h4>
                        <p>
                            Dopo cinque anni di esperienza nel settore, Riccardo apre il suo salone nel 2023 con l'obiettivo di creare un ambiente dove cura, tecnica e stile si incontrano.
                            Attento ai dettagli, guidato dalla passione per il mestiere e dal desiderio di far sentire ogni cliente al centro,  è oggi un punto di riferimento per chi cerca professionalità e autenticità.
                            La sua visione? Un barbiere non è solo chi taglia i capelli, ma chi crea fiducia.
                        </p>
                    </div>
                </div>
            </div>    
            <div class="card">
                <div class="card-body p-4 p-xl-0">
                    <img src="/images/nizar2.jpeg" class="img-fluid">
                    <div class="my-4">
                        <h4 class="mb-4 font-bold">NIZAR</h4>
                        <p>
                            Nizar è la nuova promessa del team: alla sua prima esperienza come barbiere, dimostra già grande talento, precisione e voglia di imparare.
                            Umile, appassionato e sempre pronto a mettersi in gioco, è la prova che la determinazione e la giusta formazione possono fare la differenza.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-5">
        <h5 class="font-bold text-accent">OUR SERVICES</h5>
        <h2 class="font-bold">I NOSTRI SERVIZI</h2>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-12 col-xl-4">
            <div class="card text-center">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                        <g clip-path="url(#clip0_181_79)">
                            <path
                                d="M79.4604 19.8977C78.85 19.2877 77.861 19.2877 77.2505 19.8977L74.9539 22.1942L72.3436 19.5839L74.6402 17.2874C75.2504 16.6772 75.2504 15.6878 74.6402 15.0775C74.0299 14.4675 73.0408 14.4675 72.4304 15.0775L70.1338 17.3741L67.5233 14.7636L69.8199 12.467C70.43 11.8569 70.43 10.8675 69.8199 10.2572C69.2099 9.64752 68.2208 9.6472 67.61 10.2572L65.3136 12.5539L62.7033 9.94361L64.9999 7.64705C65.61 7.03689 65.61 6.04751 64.9999 5.4372C64.3896 4.8272 63.4005 4.8272 62.79 5.4372L60.4935 7.73376L57.8832 5.12345L60.1797 2.82689C60.7899 2.21673 60.7899 1.22736 60.1797 0.617046C59.5694 0.00704589 58.5804 0.00704589 57.9699 0.617046L51.0168 7.5697C48.2564 5.26455 44.145 5.40439 41.5472 8.00189L33.1516 16.3975C30.5793 18.9699 28.9496 22.3785 28.5629 25.9956C28.2518 28.9052 26.9408 31.6472 24.8758 33.712L4.52457 53.9069C-1.40012 59.8316 -1.40012 69.4717 4.52457 75.3964C10.4438 81.3153 20.0838 81.3266 26.0097 75.4006L46.3611 55.2056C48.43 53.1366 51.1721 51.8256 54.0818 51.5144C57.6988 51.1275 61.1075 49.498 63.6797 46.9258L72.0755 38.53C74.6688 35.9367 74.8158 31.8244 72.5075 29.0605L79.4604 22.1074C80.0705 21.4972 80.0705 20.5078 79.4604 19.8977ZM48.6989 18.7802C47.4657 17.547 47.4657 15.5405 48.6989 14.3074L51.0378 11.9683L68.1091 29.0395L65.77 31.3788C64.5338 32.6147 62.5336 32.6147 61.2974 31.3788V31.3786L48.6989 18.7802ZM69.8658 36.3203L61.47 44.7161C59.401 46.7852 56.6591 48.0961 53.7496 48.4072C50.1324 48.7942 46.7236 50.4238 44.1558 52.9917L23.8043 73.1867C19.0982 77.8927 11.4405 77.893 6.73441 73.1867C2.02816 68.4805 2.02816 60.823 6.7302 56.121L27.0814 35.9261C29.6538 33.3538 31.2835 29.9452 31.6702 26.328C31.9813 23.4185 33.2922 20.6764 35.3614 18.6074L43.7571 10.2117C45.118 8.8508 47.255 8.69783 48.7904 9.79642L46.4891 12.0977C44.0375 14.5492 44.0375 18.5385 46.4891 20.99L59.0875 33.5883C61.5444 36.0455 65.5221 36.0461 67.9797 33.5885L70.2811 31.287C71.3724 32.812 71.2346 34.9516 69.8658 36.3203ZM70.3189 26.8297L53.2477 9.75845L55.6732 7.33298L72.7444 24.4042L70.3189 26.8297Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M41.1213 24.2119C40.511 23.6019 39.5219 23.6019 38.9115 24.2119L34.4185 28.7049C33.8083 29.315 33.8083 30.3044 34.4185 30.9147L49.1626 45.6588C49.773 46.2689 50.7619 46.2688 51.3724 45.6588L55.8654 41.1658C56.4755 40.5556 56.4755 39.5663 55.8654 38.956L41.1213 24.2119ZM50.2676 42.3441L37.7332 29.8097L40.0163 27.5266L52.5507 40.061L50.2676 42.3441ZM25.3482 42.5761L9.77975 57.988C6.42131 61.3464 6.42084 66.7825 9.77975 70.1414C13.1235 73.4849 18.5754 73.4991 21.9276 70.1469L37.496 54.735C40.8465 51.3842 40.8465 45.9322 37.496 42.5816C34.1012 39.1867 28.6612 39.2627 25.3482 42.5761ZM35.2918 52.5197L19.7233 67.9316C17.591 70.0638 14.1215 70.0638 11.9894 67.9316C9.84303 65.7853 9.8635 62.3236 11.984 60.2031L27.5524 44.7913C29.6894 42.6539 33.149 42.6536 35.2863 44.7913C37.4185 46.9235 37.4185 50.393 35.2918 52.5197Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M23.0378 54.6734C22.4286 55.2826 22.4284 56.2737 23.0378 56.8828C23.6451 57.4901 24.6356 57.4947 25.2472 56.8828C25.8547 56.2756 25.8589 55.2851 25.2472 54.6734C24.6379 54.064 23.647 54.0642 23.0378 54.6734ZM18.6189 59.0923C18.0086 59.699 18.0062 60.6909 18.6189 61.3031C19.2228 61.907 20.2115 61.9186 20.8267 61.3031C21.4451 60.685 21.4282 59.6903 20.8267 59.0923C20.2176 58.4829 19.2245 58.4867 18.6189 59.0923ZM14.1986 63.5126C13.5795 64.1317 13.5981 65.1215 14.1986 65.722C14.8079 66.3314 15.7989 66.3312 16.4081 65.722C17.01 65.1201 17.0256 64.1301 16.4081 63.5126C15.8017 62.9029 14.8051 62.9029 14.1986 63.5126Z"
                                fill="#8D6D42"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_181_79">
                                <rect width="80" height="80" fill="white"></rect>
                            </clipPath>
                        </defs>
                    </svg>

                    <h2 class="mt-4">HAIR CUTS</h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mt-4 mt-xl-0">
            <div class="card text-center">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                        <g clip-path="url(#clip0_181_2)">
                            <path
                                d="M25.7143 62.8572C21.7695 62.8572 18.5714 66.0552 18.5714 70C18.5714 73.9449 21.7695 77.1429 25.7143 77.1429C29.6591 77.1429 32.8571 73.9449 32.8571 70C32.8527 66.057 29.6573 62.8616 25.7143 62.8572ZM25.7143 74.2857C23.3473 74.2857 21.4286 72.367 21.4286 70C21.4286 67.6331 23.3473 65.7143 25.7143 65.7143C28.0813 65.7143 30 67.6331 30 70C29.9973 72.3659 28.0802 74.2831 25.7143 74.2857ZM7.14286 62.8572C3.19804 62.8572 0 66.0552 0 70C0 73.9449 3.19804 77.1429 7.14286 77.1429C11.0877 77.1429 14.2857 73.9449 14.2857 70C14.2813 66.057 11.0859 62.8616 7.14286 62.8572ZM7.14286 74.2857C4.77589 74.2857 2.85714 72.367 2.85714 70C2.85714 67.6331 4.77589 65.7143 7.14286 65.7143C9.50982 65.7143 11.4286 67.6331 11.4286 70C11.4259 72.3659 9.50875 74.2831 7.14286 74.2857Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M25.7147 71.4286C26.5037 71.4286 27.1433 70.789 27.1433 70C27.1433 69.211 26.5037 68.5714 25.7147 68.5714C24.9257 68.5714 24.2861 69.211 24.2861 70C24.2861 70.789 24.9257 71.4286 25.7147 71.4286Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M24.0042 60.1493L18.7513 50.6938C18.6337 50.4814 18.5719 50.2427 18.5717 50V19.5839C18.5706 16.5539 18.219 13.5341 17.524 10.5848C17.0661 8.6473 16.4615 6.74741 15.7154 4.90161C13.8343 9.56839 12.8644 14.5523 12.8583 19.5839V49.4568L22.6565 60.4804C23.0974 60.3386 23.5478 60.228 24.0042 60.1493ZM17.1431 45.7143H14.286V42.8571H17.1431V45.7143ZM13.8038 54.8214L11.6994 52.4546L7.50293 60.0091C8.01847 60.0271 8.53204 60.085 9.03864 60.1823L13.8038 54.8214Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M7.14244 71.4286C7.93142 71.4286 8.57101 70.789 8.57101 70C8.57101 69.211 7.93142 68.5714 7.14244 68.5714C6.35346 68.5714 5.71387 69.211 5.71387 70C5.71387 70.789 6.35346 71.4286 7.14244 71.4286Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M39.6552 2.85718C37.207 2.85718 34.8548 4.47486 33.0316 7.41218C31.0766 10.5618 30 14.7786 30 19.2857C30 23.7929 31.0766 28.0097 33.0316 31.1593C34.8548 34.0966 37.207 35.7143 39.6552 35.7143C42.1034 35.7143 44.4555 34.0966 46.2788 31.1593C48.2336 28.0097 49.3104 23.7929 49.3104 19.2857C49.3104 14.7786 48.2336 10.5618 46.2788 7.41218C44.4555 4.47486 42.1032 2.85718 39.6552 2.85718ZM38.2266 28.5715H35.3695V25.7143H38.2266V28.5715ZM38.2266 22.8572H35.3695V20H38.2266V22.8572ZM38.2266 17.1429H35.3695V14.2857H38.2266V17.1429ZM38.2266 11.4286H35.3695V8.57146H38.2266V11.4286ZM43.9409 28.5715H41.0838V25.7143H43.9409V28.5715ZM43.9409 22.8572H41.0838V20H43.9409V22.8572ZM43.9409 17.1429H41.0838V14.2857H43.9409V17.1429ZM43.9409 11.4286H41.0838V8.57146H43.9409V11.4286ZM41.0909 44.4286C41.0783 44.303 41.0825 44.1763 41.1034 44.0518L42.0746 38.222C40.4953 38.689 38.8147 38.689 37.2354 38.222L38.2066 44.0518C38.2273 44.1763 38.2316 44.3031 38.2189 44.4286L37.2171 54.45C37.0827 55.7963 38.0648 56.9966 39.4111 57.1311C40.7573 57.2656 41.9577 56.2834 42.0921 54.9372C42.1084 54.7752 42.1084 54.612 42.0921 54.45L41.0909 44.4286ZM68.5714 67.1429C68.1925 67.1429 67.8292 66.9924 67.5613 66.7245C67.2934 66.4566 67.1429 66.0932 67.1429 65.7143C67.1442 65.3354 66.9949 64.9715 66.728 64.7027C66.461 64.4339 66.0982 64.2821 65.7193 64.2808C65.3404 64.2794 64.9765 64.4287 64.7077 64.6956C64.4388 64.9626 64.287 65.3254 64.2857 65.7043V65.7166C64.2857 66.0953 64.1354 66.4585 63.8677 66.7264C63.6001 66.9942 63.2371 67.1449 62.8584 67.1452C62.5373 67.1448 62.2254 67.2527 61.9732 67.4514C61.721 67.6501 61.5431 67.9281 61.4684 68.2404C61.3937 68.5527 61.4265 68.881 61.5614 69.1724C61.6964 69.4638 61.9256 69.7011 62.2121 69.8461C62.4202 69.9513 62.6508 70.0043 62.8839 70.0006H68.5714C68.9503 70.0006 69.3137 69.8501 69.5816 69.5822C69.8495 69.3142 70 68.9509 70 68.572C70 68.1931 69.8495 67.8298 69.5816 67.5619C69.3137 67.2939 68.9503 67.1434 68.5714 67.1434V67.1429Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M73.5717 61.4278C73.9662 61.4278 74.286 61.108 74.286 60.7136C74.286 60.3191 73.9662 59.9993 73.5717 59.9993C73.1772 59.9993 72.8574 60.3191 72.8574 60.7136C72.8574 61.108 73.1772 61.4278 73.5717 61.4278Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M65.7144 48.5714C57.8246 48.5714 51.4287 54.9673 51.4287 62.8571C51.4287 70.7469 57.8246 77.1428 65.7144 77.1428C73.6042 77.1428 80.0001 70.7469 80.0001 62.8571C79.9912 54.9711 73.6005 48.5803 65.7144 48.5714ZM65.7144 52.8571C67.6869 52.8571 69.2859 54.4561 69.2859 56.4286C69.2859 58.4011 67.6869 60 65.7144 60C63.7419 60 62.143 58.4011 62.143 56.4286C62.1453 54.4571 63.743 52.8594 65.7144 52.8571ZM54.2859 60.7143C54.2859 58.7418 55.8848 57.1428 57.8573 57.1428C59.8298 57.1428 61.4287 58.7418 61.4287 60.7143C61.4287 62.6868 59.8298 64.2857 57.8573 64.2857C55.8859 64.2834 54.2882 62.6857 54.2859 60.7143ZM68.5716 72.8571H62.8573C60.4903 72.8582 58.5707 70.9402 58.5698 68.5732C58.5694 67.6532 58.8651 66.7575 59.4131 66.0185C59.9611 65.2796 60.7323 64.7366 61.6128 64.4698C62.2989 62.2044 64.6916 60.9243 66.9569 61.6105C67.632 61.815 68.2462 62.183 68.745 62.6817C69.2438 63.1805 69.6117 63.7947 69.8162 64.4698C72.0814 65.1561 73.3614 67.5487 72.6751 69.8141C72.4084 70.6946 71.8653 71.4659 71.1263 72.0139C70.3873 72.5619 69.4916 72.8575 68.5716 72.8571ZM73.5716 64.2857C71.5991 64.2857 70.0001 62.6868 70.0001 60.7143C70.0001 58.7418 71.5991 57.1428 73.5716 57.1428C75.5441 57.1428 77.143 58.7418 77.143 60.7143C77.1407 62.6857 75.543 64.2834 73.5716 64.2857Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M65.7143 57.1422C66.1088 57.1422 66.4286 56.8224 66.4286 56.4279C66.4286 56.0334 66.1088 55.7136 65.7143 55.7136C65.3198 55.7136 65 56.0334 65 56.4279C65 56.8224 65.3198 57.1422 65.7143 57.1422Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M57.8569 61.4278C58.2514 61.4278 58.5711 61.108 58.5711 60.7136C58.5711 60.3191 58.2514 59.9993 57.8569 59.9993C57.4624 59.9993 57.1426 60.3191 57.1426 60.7136C57.1426 61.108 57.4624 61.4278 57.8569 61.4278Z"
                                fill="#8D6D42"></path>
                            <path
                                d="M68.3926 42.8572H59.8211C59.4423 42.8572 59.0789 43.0077 58.811 43.2756C58.5431 43.5435 58.3926 43.9069 58.3926 44.2858C58.3926 44.6646 58.5431 45.028 58.811 45.2959C59.0789 45.5638 59.4423 45.7143 59.8211 45.7143H68.3926C68.4523 45.714 68.5119 45.7098 68.5711 45.702V45.9538C69.5432 46.1175 70.4992 46.3654 71.4283 46.6949V4.28575C71.4278 3.90701 71.2772 3.54393 71.0094 3.27612C70.7415 3.00831 70.3785 2.85765 69.9997 2.85718H59.8211C59.4423 2.85718 59.0789 3.00769 58.811 3.2756C58.5431 3.54351 58.3926 3.90687 58.3926 4.28575C58.3926 4.66463 58.5431 5.02799 58.811 5.2959C59.0789 5.56381 59.4423 5.71432 59.8211 5.71432H68.5711V8.58379C68.5119 8.57594 68.4523 8.57182 68.3926 8.57146H59.8211C59.4423 8.57146 59.0789 8.72197 58.811 8.98988C58.5431 9.25779 58.3926 9.62115 58.3926 10C58.3926 10.3789 58.5431 10.7423 58.811 11.0102C59.0789 11.2781 59.4423 11.4286 59.8211 11.4286H68.3926C68.4523 11.4282 68.5119 11.4241 68.5711 11.4163V14.2981C68.5119 14.2902 68.4523 14.2861 68.3926 14.2857H59.8211C59.4423 14.2857 59.0789 14.4363 58.811 14.7042C58.5431 14.9721 58.3926 15.3354 58.3926 15.7143C58.3926 16.0932 58.5431 16.4566 58.811 16.7245C59.0789 16.9924 59.4423 17.1429 59.8211 17.1429H68.3926C68.4523 17.1425 68.5119 17.1384 68.5711 17.1306V20.0124C68.5119 20.0045 68.4523 20.0004 68.3926 20H59.8211C59.4423 20 59.0789 20.1505 58.811 20.4185C58.5431 20.6864 58.3926 21.0497 58.3926 21.4286C58.3926 21.8075 58.5431 22.1708 58.811 22.4388C59.0789 22.7067 59.4423 22.8572 59.8211 22.8572H68.3926C68.4523 22.8568 68.5119 22.8527 68.5711 22.8449V25.7266C68.5119 25.7188 68.4523 25.7147 68.3926 25.7143H59.8211C59.4423 25.7143 59.0789 25.8648 58.811 26.1327C58.5431 26.4006 58.3926 26.764 58.3926 27.1429C58.3926 27.5218 58.5431 27.8851 58.811 28.153C59.0789 28.421 59.4423 28.5715 59.8211 28.5715H68.3926C68.4523 28.5711 68.5119 28.567 68.5711 28.5591V31.4409C68.5119 31.4331 68.4523 31.429 68.3926 31.4286H59.8211C59.4423 31.4286 59.0789 31.5791 58.811 31.847C58.5431 32.1149 58.3926 32.4783 58.3926 32.8572C58.3926 33.2361 58.5431 33.5994 58.811 33.8673C59.0789 34.1352 59.4423 34.2857 59.8211 34.2857H68.3926C68.4523 34.2854 68.5119 34.2813 68.5711 34.2734V37.1552C68.5119 37.1474 68.4523 37.1433 68.3926 37.1429H59.8211C59.4423 37.1429 59.0789 37.2934 58.811 37.5613C58.5431 37.8292 58.3926 38.1926 58.3926 38.5715C58.3926 38.9503 58.5431 39.3137 58.811 39.5816C59.0789 39.8495 59.4423 40 59.8211 40H68.3926C68.4523 39.9997 68.5119 39.9956 68.5711 39.9877V42.8695C68.5119 42.8617 68.4523 42.8575 68.3926 42.8572Z"
                                fill="#8D6D42"></path>
                        </g>
                        <defs>
                            <clipPath id="clip0_181_2">
                                <rect width="80" height="80" fill="white"></rect>
                            </clipPath>
                        </defs>
                    </svg>

                    <h2 class="mt-4">SHAVING</h2>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mt-4 mt-xl-0">
            <div class="card text-center">
                <div class="card-body">
                    <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none">
                        <path
                            d="M57.7359 9.66396C56.3839 8.05596 53.9119 7.15996 51.9919 6.47996C45.7599 4.30396 38.5679 4.15196 32.1279 5.34396C29.6959 5.79196 27.2959 6.51996 25.0799 7.64796C22.8239 8.79196 20.8319 10.504 21.1279 13.296C21.3359 15.304 22.8159 17.152 23.7999 18.856C24.9199 20.8 26.0399 22.736 27.1679 24.672C29.1679 28.112 31.1839 31.552 33.1839 34.984C31.5519 35.336 30.0159 35.936 28.7599 36.968C27.1599 38.272 26.2239 40.2 26.4399 42.28C26.6479 44.32 27.5519 46.216 28.3839 48.056C29.3599 50.208 30.2639 52.184 29.7919 54.616C29.3759 56.784 28.3439 58.816 27.6959 60.928C26.5359 64.68 25.0879 69.384 27.8239 72.824C29.4879 74.92 32.1119 75.232 34.6159 75.304C36.3359 75.352 43.4079 75.352 44.9599 75.312C47.0879 75.264 49.3839 75.2 51.1599 73.872C54.8239 71.128 53.8639 66.216 52.8079 62.44C52.2319 60.376 51.4159 58.416 50.7439 56.384C50.3279 55.12 50.0079 53.776 50.1359 52.432C50.2319 51.376 50.6559 50.368 51.0719 49.408C52.6239 45.856 55.1999 41.52 52.2879 37.952C50.9439 36.304 48.9839 35.44 46.8719 34.984C50.1279 29.472 53.2879 23.904 56.4959 18.36C57.3039 16.968 58.4959 15.464 58.7999 13.856C59.0879 12.368 58.7199 10.824 57.7359 9.66396ZM48.8879 48.456C48.0479 50.392 47.5359 52.248 47.8159 54.376C48.0959 56.496 49.0079 58.392 49.6799 60.4C50.2879 62.224 50.8239 64.08 51.1999 65.96C51.5279 67.616 51.5759 69.416 50.6639 70.904C49.4639 72.872 47.0159 72.856 44.9599 72.904C43.3199 72.936 37.0959 72.944 35.6319 72.912C33.9119 72.88 31.8319 73.032 30.3679 71.968C27.2639 69.728 29.0479 64.752 29.9199 61.856C31.1039 57.952 33.2959 54.144 31.8079 49.992C31.1679 48.208 30.2479 46.528 29.5679 44.76C28.9839 43.24 28.3679 41.48 29.2719 39.96C30.2799 38.264 32.1679 37.704 33.9759 37.328C35.9679 36.912 38.0079 36.88 40.0319 36.896C41.8319 36.88 43.6559 36.872 45.4319 37.192C46.9679 37.464 48.6079 37.8 49.8239 38.832C52.8959 41.432 50.1199 45.608 48.8879 48.456ZM54.6959 16.696C51.2399 22.672 47.8319 28.672 44.3199 34.616C43.3839 34.536 42.4559 34.512 41.5679 34.504L41.8559 33.232C45.1279 27.456 48.3999 21.672 51.6799 15.896C52.4399 14.552 50.3679 13.336 49.6079 14.688C47.6559 18.128 45.7039 21.576 43.7599 25.016C44.8959 20.224 46.0559 15.432 47.0959 10.616C47.4239 9.11196 45.1119 8.46396 44.7839 9.97596C43.6639 15.152 42.4079 20.304 41.1919 25.456V13.184C41.1919 11.64 38.7919 11.64 38.7919 13.184V25.456C37.5679 20.304 36.3199 15.152 35.1999 9.97596C34.8719 8.46396 32.5599 9.10396 32.8879 10.616C33.9439 15.488 35.1119 20.336 36.2639 25.184C34.2799 21.688 32.3039 18.192 30.3199 14.688C29.5599 13.344 27.4879 14.552 28.2479 15.896L38.1599 33.392C38.2399 33.76 38.3279 34.136 38.4079 34.504C37.5439 34.512 36.6559 34.544 35.7599 34.616C32.2319 28.576 28.6959 22.544 25.2079 16.48C24.4959 15.248 23.2559 13.808 23.5519 12.296C23.7679 11.224 24.5839 10.672 25.4639 10.168C27.1999 9.16796 29.0959 8.50396 31.0319 8.03196C36.9039 6.59996 43.5279 6.64796 49.3679 8.19996C51.2879 8.71196 53.1519 9.41596 54.8639 10.432C55.7679 10.968 56.4559 11.664 56.5119 12.776C56.5759 14.152 55.3599 15.552 54.6959 16.696Z"
                            fill="#8D6D42"></path>
                    </svg>

                    <h2 class="mt-4">STYLING</h2>
                </div>
            </div>
        </div>
    </div>

    @{
        var hairCare = Model.Treatments.Where(x => x.Categoria == "HAIR CARE");
        var shave = Model.Treatments.Where(x => x.Categoria == "SHAVE");
        var combo = Model.Treatments.Where(x => x.Categoria == "COMBO");
    }

    <div class="card">
        <div class="card-body p-4 p-xl-0">
            <h4 class="mb-4 font-bold">HAIR CARE</h4>
            @foreach(var t in hairCare)
            {
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">@t.NomeTrattamento</p>
                    <p class="mb-0">@t.Prezzo.ToString("0.00", new System.Globalization.CultureInfo("it-IT")) €</p>
                </div>
            }

            <h4 class="mt-5 mb-4 font-bold">SHAVE</h4>
            @foreach(var t in shave)
            {
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">@t.NomeTrattamento</p>
                    <p class="mb-0">@t.Prezzo.ToString("0.00", new System.Globalization.CultureInfo("it-IT")) €</p>
                </div>
            }

            <h4 class="mt-5 mb-4 font-bold">COMBO</h4>
            @foreach(var t in combo)
            {
                <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0">@t.NomeTrattamento</p>
                    <p class="mb-0">@t.Prezzo.ToString("0.00", new System.Globalization.CultureInfo("it-IT")) €</p>
                </div>
            }
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-12 col-xl-4">
            <div class="card text-center h-100">
                <div class="card-body mb-4">

                    <i class="fa-solid fa-location-dot mt-4 mt-xl-0 text-accent"></i>
                    <h2 class="mt-4 font-bold">CONTACT US</h2>

                    <div class="mt-5">
                        <p>Corso Panaro, 5</p>
                        <p>44012, Bondeno (FE)</p>
                        <div class="mt-4 text-accent">
                            <i class="fas fa-phone me-2"></i>
                            +39 351 75 00 343
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mt-4 mt-xl-0">
            <div class="card text-center h-100">
                <div class="card-body mb-4">
                    <i class="fa-regular fa-clock mt-4 mt-xl-0 text-accent"></i>
                    <h2 class="mt-4 mb-5 font-bold">WORKING DAYS</h2>

                    @foreach(var day in Model.OpeningHours)
                    {
                        var culture = new System.Globalization.CultureInfo("it-IT");
                        string dayName = culture.DateTimeFormat.GetDayName(day.DayOfWeek);

                        string orarioMattina = string.Empty;
                        if(day.MorningOpen != TimeSpan.Zero || day.MorningClose != TimeSpan.Zero)
                        {
                            orarioMattina = $"{day.MorningOpen.ToString(@"hh\:mm")} - {day.MorningClose.ToString(@"hh\:mm")}";
                        }

                        string orarioPomeriggio = string.Empty;
                        if(day.AfternoonOpen != TimeSpan.Zero || day.AfternoonClose != TimeSpan.Zero)
                        {
                            orarioPomeriggio = $"{day.AfternoonOpen.ToString(@"hh\:mm")} - {day.AfternoonClose.ToString(@"hh\:mm")}";
                        }
                        bool closed = day.IsClosed;

                        <div class="px-5 px-xl-0 py-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <strong>@dayName.ToString().ToUpper()</strong>
                                <div>
                                    @if(closed) 
                                    {
                                        <p class="text-muted small">//</p>
                                    }
                                    else
                                    {
                                        <p class="mb-0">@orarioMattina</p>
                                        <p class="mb-0">@orarioPomeriggio</p>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4 mt-4 mt-xl-0">
            <div class="card text-center h-100">
                <div class="card-body mb-4">
                    @{
                        string igUrl = "https://www.instagram.com/rvthebarber_";
                        string tiktokUrl = "https://www.tiktok.com/@rvthebarber_";
                        string whatsappUrl = "https://api.whatsapp.com/message/TBL5L4JXFTKWP1?autoload=1&app_absent=0&utm_source=ig";
                    }
                    <i class="fa-solid fa-users mt-4 mt-xl-0 text-accent"></i>
                    <h2 class="mt-4 font-bold">SOCIAL</h2>

                    <div class="mt-5 d-flex flex-column justify-content-end align-items-center">
                        <div class="mb-3">
                            <a style="text-decoration: none; color: white;" href="@igUrl" target="_blank">
                                <i class="fa-brands me-2 mb-3 fa-instagram text-accent" style="font-size: 1.5rem;"></i>
                                rvthebarber_
                            </a>
                        </div>
                        <div class="mb-3">
                            <a style="text-decoration: none; color: white;" href="@tiktokUrl" target="_blank">
                                <i class="fa-brands me-2 mb-3 fa-tiktok text-accent" style="font-size: 1.5rem;"></i>
                                rvthebarber_
                            </a>
                        </div>
                        <div>
                            <a style="text-decoration: none; color: white;" href="@whatsappUrl" target="_blank">
                                <i class="fa-brands ms-3 me-2 mb-3 fa-whatsapp text-accent" style="font-size: 1.5rem;"></i>
                                Riccardo Vaccari
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Footer -->
<footer class="footer w-100 text-muted">
    <div class="text-center">
        <img src="/images/logoRV.jpeg" width="42" height="42">
        <div class="mt-2"><i class="far fa-copyright"></i> 2023 - RVBARBER - P.Iva 02137550386</div>
    </div>
</footer>


